In [2]:
import pandas as pd
import os

In [28]:
# root = "logs-csv"
root = "09.01-logs-csv"
filenames = os.listdir(root)
dfs = {filename:pd.read_csv(os.path.join(root, filename)) for filename in filenames}

In [5]:
df = pd.read_csv(root + "/freiburg-random_weights.csv")
# test_df = df[df["metric"].str.contains("test.+")]
# agg_df = test_df.join(
#     test_df["metric"].str.extract(
#         "(Accuracy|JaccardIndex).+(Road|Sky|Vegetation|Obstacle|Grass|macro)"
#     )
# )[[0, 1, "value"]].rename(columns={1: "class name"})

# agg_df

# print(pd.pivot(agg_df, values="value", columns=[0], index=["class name"]))

                                 metric      value   step
0          test_MulticlassAccuracy/Road  91.442947  450.0
1         test_MulticlassAccuracy/Grass  89.878487  450.0
2    test_MulticlassAccuracy/Vegetation  93.616188  450.0
3           test_MulticlassAccuracy/Sky  94.560951  450.0
4      test_MulticlassAccuracy/Obstacle  61.648846  450.0
..                                  ...        ...    ...
608                            val/loss   0.273663  389.0
609                            val/loss   0.271055  404.0
610                            val/loss   0.279169  419.0
611                            val/loss   0.267116  434.0
612                            val/loss   0.265707  449.0

[613 rows x 3 columns]

In [33]:
for name, df in dfs.items():
    print(20*'#', name)
    test_df = df[df["metric"].str.contains("test.+")]
    agg_df = test_df.join(
        test_df["metric"].str.extract(
            "(Accuracy|JaccardIndex|F1Score).+(Road|Sky|Vegetation|Obstacle|Grass|macro)"
        )
    )[[0, 1, "value"]].rename(columns={1: "class name"})

    print(pd.pivot(agg_df, values="value", columns=[0], index=["class name"]))

#################### yamaha-random_weigths.csv
0           Accuracy  F1Score  JaccardIndex
class name
Grass          67.00    66.60         52.97
Obstacle       49.57    37.00         27.60
Road           89.13    91.76         85.32
Sky            92.41    94.04         88.92
Vegetation     90.92    88.75         79.97
macro          77.81    75.63         66.96
#################### yamaha-cityscapes.csv
0           Accuracy  F1Score  JaccardIndex
class name
Grass          76.44    71.95         58.82
Obstacle       61.28    56.10         45.32
Road           90.97    93.27         87.71
Sky            92.91    94.89         90.48
Vegetation     90.82    90.48         82.75
macro          82.48    81.34         73.02
#################### freiburg-imagenet_encoder_weights.csv
0           Accuracy  F1Score  JaccardIndex
class name
Grass          92.00    91.85         84.98
Obstacle       64.65    56.18         40.70
Road           89.79    89.20         80.60
Sky            93.47    93.92         88.55
Vegetation     93.53    93.51         87.82
macro          86.69    84.93         76.53
#################### freiburg-cityscapes.csv
0           Accuracy  F1Score  JaccardIndex
class name
Grass          91.09    91.45         84.31
Obstacle       74.46    44.58         29.95
Road           91.00    90.20         82.28
Sky            95.01    95.15         90.76
Vegetation     93.50    93.77         88.28
macro          89.01    83.03         75.12
#################### freiburg-synth_weights.csv
0           Accuracy  F1Score  JaccardIndex
class name
Grass          93.25    93.27         87.42
Obstacle       63.78    64.81         49.77
Road           93.56    92.26         85.67
Sky            94.65    95.10         90.68
Vegetation     94.59    94.55         89.69
macro          87.97    88.00         80.64
#################### yamaha-synth_weights.csv
0           Accuracy  F1Score  JaccardIndex
class name
Grass          70.11    70.68         57.29
Obstacle       61.39    61.60         52.21
Road           93.17    93.39         87.92
Sky            92.85    94.31         89.43
Vegetation     91.54    90.27         82.40
macro          81.81    82.05         73.85
#################### yamaha-imagenet_encoder_weitghs.csv
0           Accuracy  F1Score  JaccardIndex
class name
Grass          71.35    70.34         57.14
Obstacle       53.29    52.28         41.37
Road           92.60    93.23         87.58
Sky            92.72    93.07         87.24
Vegetation     90.14    89.42         81.03
macro          80.02    79.67         70.87
#################### freiburg-random_weights.csv
0           Accuracy  F1Score  JaccardIndex
class name
Grass          89.88    91.39         84.19
Obstacle       61.65    48.72         34.02
Road           91.44    90.67         82.98
Sky            94.56    94.39         89.39
Vegetation     93.62    93.06         87.04
macro          86.23    83.65         75.53

In [4]:
df = dfs[0]

test_df  = df[df["metric"].str.contains('test.+')]
test_df

                                      metric      value    step
1128            test_MulticlassAccuracy/Road  89.130104  1770.0
1129           test_MulticlassAccuracy/Grass  66.995544  1770.0
1130      test_MulticlassAccuracy/Vegetation  90.917419  1770.0
1131             test_MulticlassAccuracy/Sky  92.414062  1770.0
1132        test_MulticlassAccuracy/Obstacle  49.569492  1770.0
1133        test_MulticlassJaccardIndex/Road  85.322342  1770.0
1134       test_MulticlassJaccardIndex/Grass  52.965145  1770.0
1135  test_MulticlassJaccardIndex/Vegetation  79.971809  1770.0
1136         test_MulticlassJaccardIndex/Sky  88.917137  1770.0
1137    test_MulticlassJaccardIndex/Obstacle  27.602871  1770.0
1138       test/MulticlassJaccardIndex_macro  66.955856  1770.0
1139           test/MulticlassAccuracy_macro  77.805328  1770.0

In [5]:
agg_df = test_df.join(test_df["metric"].str.extract('(Accuracy|JaccardIndex|F1Score).+(Road|Sky|Vegetation|Obstacle|Grass|macro)'))[[0,1,"value"]].rename(columns={1:"class name"})
agg_df

                 0  class name      value
1128      Accuracy        Road  89.130104
1129      Accuracy       Grass  66.995544
1130      Accuracy  Vegetation  90.917419
1131      Accuracy         Sky  92.414062
1132      Accuracy    Obstacle  49.569492
1133  JaccardIndex        Road  85.322342
1134  JaccardIndex       Grass  52.965145
1135  JaccardIndex  Vegetation  79.971809
1136  JaccardIndex         Sky  88.917137
1137  JaccardIndex    Obstacle  27.602871
1138  JaccardIndex       macro  66.955856
1139      Accuracy       macro  77.805328

In [32]:
pd.options.display.float_format = '{:,.2f}'.format
print(pd.pivot(agg_df, values="value", columns=[0], index=["class name"]))

0           Accuracy  F1Score  JaccardIndex
class name
Grass          89.88    91.39         84.19
Obstacle       61.65    48.72         34.02
Road           91.44    90.67         82.98
Sky            94.56    94.39         89.39
Vegetation     93.62    93.06         87.04
macro          86.23    83.65         75.53

In [7]:
df = pd.read_csv("logs/final_logs/freiburg/synth_weights/normalized_all.csv")

In [11]:
df.values()

   Unnamed: 0      Road     Grass  Vegetation       Sky  Obstacle
0        Road  0.079893  0.005028    0.000342  0.000013  0.000001
1       Grass  0.007293  0.249843    0.010077  0.000071  0.000239
2  Vegetation  0.000247  0.012268    0.395548  0.009613  0.000243
3         Sky  0.000008  0.000082    0.011724  0.215128  0.000054
4    Obstacle  0.000034  0.000242    0.000465  0.000072  0.001468

In [27]:
x = df.values[:,1:]
[sum(x[i])-x[i][i] for i in range(5)]

[0.005383841994000008,
 0.017680685629999998,
 0.022372383319999967,
 0.011868813425000013,
 0.0008139935900000001]